# Ignore everything by default
**

# Keep these files for deployment
!requirements.txt
!API/
!cv_functions/
!models/
!raw_data/wine_metadata.csv
!raw_data/geocoding_cache.pkl

# Never include secrets
.env
