# Ignore everything by default
**

# Allow key files and folders for backend API
!requirements-api.txt
!API/
!cv_functions/
!models/
!raw_data/
raw_data/*
!raw_data/wine_metadata.csv
!raw_data/geocoding_cache.pkl
!raw_data/geocode_cache.pkl
